{% extends "layout/_base.html"%}

{% block content %}
<div class="col-md-10 col-lg-9 col-xl-8">
  <form method="POST">
    <div class="card overflow-hidden">
      {% csrf_token %}
      <div class="card-header">
        <h5 class="card-title m-0">Create Task</h5>
      </div>
      <div class="card-body">
        {{form.as_p}}
      </div>
      <div class="card-footer d-flex gap-2 justify-content-end">
        <a href="{% url 'tasks' %}" class="btn btn-sm btn-outline-danger">
          <i class="fa-regular fa-circle-xmark"></i>
          Cancel
        </a>
        <button class="btn btn-sm btn-outline-primary">
          <i class="fa-regular fa-floppy-disk"></i>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}