{% extends "layout/_base.html"%}

{% block content %}
<div class="col-md-10 col-lg-9 col-xl-8">
  <div class="card">
    <div class="card-header d-flex gap-3 align-items-center">
      <h5 class="card-title m-0">Task: {{task.title}}</h5>
      <div class="d-flex gap-2">
        <span class="badge {% if task.completed %} text-bg-success {% else %} text-bg-secondary {% endif %}">
          {% if task.completed %}
          completed
          {% else %}
          pending
          {% endif %}
        </span>
      </div>
    </div>
    <div class="card-body">
      <p class="mb-0">
        <span class="fw-bold">Description:</span>&nbsp;
        {% if task.description|length > 0 %}
        <span>{{task.description}}</span>
        {% else %}
        <span class="fst-italic text-secondary">No description found</span>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}