{% extends "layout/_main.html"%}

{% block content %}
<div class="card overflow-hidden">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title m-0">Tasks</h5>
    <a href="{% url 'create_task' %}" class="btn btn-primary py-1">
      <i class="fa-solid fa-plus"></i>
      Create Task
    </a>
  </div>
  <div class="card-body d-flex flex-column gap-4">
    <div class="d-flex flex-wrap gap-2">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle py-1" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-filter"></i> Status
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item {% if completed is not none and completed == 'false' %} active {% endif %}"
              href="{% url 'tasks' %}?completed=false">
              <i class="fa-regular fa-clock me-2"></i> Pending
            </a>
          </li>
          <li>
            <a class="dropdown-item {% if completed is not none and completed == 'true' %} active {% endif %}"
              href="{% url 'tasks' %}?completed=true">
              <i class="fa-regular fa-square-check me-2"></i> Completed
            </a>
          </li>
        </ul>
      </div>

      <div>
        <a href="{% url 'tasks' %}" class="btn btn-primary py-1">
          <i class="fa-regular fa-circle-xmark"></i> Clean Filter
        </a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-bordered m-0">
        <thead>
          <tr class="table-active">
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center" style="width: 250px;">Description</th>
            <th scope="col" class="text-center">Username</th>
            <th scope="col" class="text-center">Created At</th>
            <th scope="col" class="text-center">Completed At</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks%}
          <tr scope="row" {% if task.important %} class="table-danger" {% endif %}>
            <td>
              <div class="d-flex gap-2 align-items-center">
                {% if task.important and task.completed_at is not null %}
                <span class="fw-bold text-decoration-line-through text-danger text-opacity-50 fst-italic">
                  {{task.title}}
                </span>
                {% elif not task.important and task.completed_at is not null %}
                <span class="text-decoration-line-through text-secondary fst-italic">
                  {{task.title}}
                </span>
                {% elif task.important and task.completed_at is null %}
                <span class="fw-bold text-danger">
                  {{task.title}}
                </span>
                {% elif not task.important and task.completed_at is null %}
                <span>
                  {{task.title}}
                </span>
                {% endif %}
              </div>
            </td>
            <td>{{task.description}}</td>
            <td class="text-center">{{task.user.username}}</td>
            <td class="text-center">{{task.created_at|date:"d/m/Y h:i:s"}}</td>
            <td class="text-center">{{task.completed_at|date:"d/m/Y h:i:s"}}</td>
            <td>
              <div class="d-flex gap-2 justify-content-center align-items-center">
                <a href="{% url 'edit_task' slug=task.slug %}"
                  class="btn {% if task.important %} btn-primary {% else %} btn-primary {% endif %} px-2 py-0">
                  <i class="fa-regular fa-pen-to-square"></i>
                </a>

                {% if task.completed_at is null %}
                <a href="{% url 'complete_task' slug=task.slug %}" class="btn btn-success px-2 py-0">
                  <i class="fa-regular fa-square-check"></i>
                </a>
                {% else %}
                <a href="{% url 'complete_task' slug=task.slug %}" class="btn btn-secondary px-2 py-0">
                  <i class="fa-regular fa-clock"></i>
                </a>
                {% endif %}

                <a href="{% url 'delete_task' slug=task.slug %}" class="btn btn-danger px-2 py-0">
                  <i class="fa-regular fa-trash-can"></i>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}

          {% if tasks|length == 0 %}
          <tr class="text-center">
            <td colspan="6">
              <span class="fst-italic text-secondary">No tasks found</span>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}