{% extends "layout/_base.html"%}

{% block content %}
<div class="col-md-10 col-lg-9 col-xl-8">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title m-0">Home</h5>
    </div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet totam libero magni obcaecati ducimus consequatur
      eaque quibusdam! Natus amet nam labore facere architecto, ratione voluptas dolorem, assumenda esse deserunt sequi.
    </div>
  </div>
</div>
{% endblock %}