{% extends "layout/_base.html"%}

{% block content %}
<div class="col-md-8 col-lg-7 col-xl-6">
  <form method="POST">
    <div class="card overflow-hidden">
      {% csrf_token %}
      <div class="card-header">
        <h5 class="card-title m-0">Sign up</h5>
      </div>
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger px-2 py-1" role="alert">
          <i class="fa-solid fa-triangle-exclamation"></i>
          {{error}}
        </div>
        {% endif %}
        {{form.as_p}}
      </div>
      <div class="card-footer d-flex gap-2 justify-content-end">
        <a href="{% url 'home' %}" class="btn btn-sm btn-outline-danger">
          <i class="fa-regular fa-circle-xmark"></i>
          Cancel
        </a>
        <button class="btn btn-sm btn-outline-primary">
          <i class="fa-regular fa-floppy-disk"></i>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}